# Note: The sub-headings / sections are optional and are removed from the config parser anyway. The only important thing is the [darts] heading
[darts]
ee-project = "your-project-here"

[darts.paths]
sentinel2-dir = "data/input/sentinel2"
orthotiles-dir = "data/input/planet/PSOrthoTile"
scenes-dir = "data/input/planet/PSScene"
output-data-dir = "data/output"
model-files = ["models/RTS_v6_tcvis.pt", "models/RTS_v6_notcvis.pt"]
arcticdem-dir = "data/download/arcticdem"
tcvis-dir = "data/download/tcvis"
overwrite = false # planet inference only
image-ids = ['20210724_194944_103c', '20210731_200455_92_2262'] # planet inference only, remove to process all images

[darts.preprocess]
tpi-outer-radius = 100
tpi-inner-radius = 0

[darts.segmentation]
patch-size = 1024
overlap = 256
batch-size = 2
reflection = 32
