site_name: DARTS nextgen
site_url: https://awi-response.github.io/darts-nextgen
site_author: Tobias Hölzer
site_description: >
  Panarctic Database of Active Layer Detachment Slides and Retrogressive Thaw Slumps from Deep Learning on High Resolution Satellite Imagery.

repo_name: darts-nextgen
repo_url: https://github.com/awi-response/darts-nextgen
edit_uri: edit/main/docs/

nav:
  - Home: index.md
  - Overview: overview.md
  - Training Quickstart: guides/training/quickstart.md
  - Guides:
      - Installation: guides/installation.md
      - Pipeline v2: guides/pipeline-v2.md
      - DARTS Components: guides/components.md
      - Paths and Data Management: guides/paths.md
      - Downloads and Offline mode: guides/offline.md
      - Devices: guides/devices.md
      - Config Files: guides/config.md
      - Logging: guides/logging.md
      - Debugging: guides/debugging.md
      - Training:
          - guides/training/index.md
          - Preprocessing: guides/training/data.md
          - Training: guides/training/training.md
          - Cross Validation: guides/training/cv.md
          - Hyperparameter tuning: guides/training/tune.md
  - Dev:
      - Contribute: contribute.md
      - Architecture: dev/arch.md
      - Bands: dev/bands.md
      - Datacubes: dev/auxiliary.md
      - Docs: dev/docs.md
      - Problems with CUDA: dev/cuda_fixes.md
  - CLI Reference: cli.md

theme:
  name: material
  logo: assets/awi_logo.png
  favicon: assets/favicon.svg
  language: en
  custom_dir: docs/overrides
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye
  palette:
    # Palette toggle for automatic mode
    - media: '(prefers-color-scheme)'
      primary: light blue # 00ABE8
      accent: teal
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - scheme: default
      media: '(prefers-color-scheme: light)'
      primary: light blue
      accent: teal
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      media: '(prefers-color-scheme: dark)'
      primary: light blue
      accent: teal
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  font:
    text: Montserrat
    code: Roboto Mono
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - toc.follow
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - navigation.footer
    - content.action.edit
    - content.code.copy
    - content.code.annotate
plugins:
  - glightbox
  - mkdocstrings:
      handlers:
        python:
          inventories:
            - https://docs.python.org/3/objects.inv
            - https://docs.xarray.dev/en/stable/objects.inv
            - https://numpy.org/doc/stable/objects.inv
            - https://pytorch.org/docs/stable/objects.inv
            - https://lightning.ai/docs/torchmetrics/stable/objects.inv
            # - https://lightning.ai/docs/pytorch/stable/object.inv
            - https://scikit-learn.org/stable/objects.inv
          paths:
            - 'darts-acquisition/src'
            - 'darts-ensemble/src'
            - 'darts-export/src'
            - 'darts/src'
            - 'darts-preprocessing/src'
            - 'darts-postprocessing/src'
            - 'darts-segmentation/src'
            - 'darts-superresolution/src'
            - 'darts-utils/src'
          options:
            members: true
            inherited_members: true
            show_root_heading: true
            allow_inspection: false
            heading_level: 2
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            group_by_category: true
            show_category_heading: false
            show_if_no_docstring: true
            docstring_section_style: list
            annotations_path: full
            show_signature: true
            separate_signature: true
            show_signature_annotations: true
            signature_crossrefs: true
            show_overloads: true
            # signature_crossrefs: true
            unwrap_annotated: true
            merge_init_into_class: true
  - api-autonav:
      modules: [
          'darts/src/darts',
          'darts-acquisition/src/darts_acquisition',
          'darts-ensemble/src/darts_ensemble',
          'darts-export/src/darts_export',
          'darts-preprocessing/src/darts_preprocessing',
          'darts-postprocessing/src/darts_postprocessing',
          'darts-segmentation/src/darts_segmentation',
          # 'darts-superresolution/src/darts_superresolution',
          'darts-utils/src/darts_utils',
        ]
  - cyclopts
  - autorefs:
      resolve_closest: true
  - privacy:
      enabled: !ENV [CI, false]
  - search:
      lang: en
  - social:
      enabled: !ENV [CI, false]
  - git-revision-date-localized:
      enabled: !ENV [CI, false]
      enable_creation_date: true
      type: date
  - git-committers:
      enabled: !ENV [CI, false]
      repository: awi-response/darts-nextgen
      branch: main
extra:
  version:
    provider: mike
    default: latest
    alias: true
  social:
    - icon: fontawesome/brands/github
      name: GitHub
      link: https://github.com/awi-response/darts-nextgen
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
    cookies:
      fonts:
        name: Google Fonts
        checked: false
      github:
        name: GitHub
        checked: false
    actions:
      - accept
      - manage
      - reject
copyright: >
  Copyright &copy; 2024 Ingmar Nitze, Konrad Heidler, Jonas Küpper, Lucas von Chamier, Tobias Hölzer -
  <a href="#__consent">Change cookie settings</a>
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - attr_list
  - md_in_html
  - admonition
  - footnotes
  - tables
  - def_list
  - toc:
      permalink: true
      title: Table of Contents
